ul {
  list-style: none; 
	display: inline-flex;
	flex-direction: column;
	gap: 10px;
}

li {
  display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	padding: 0 40px;
	background-color: rgba(71, 71, 71, 0.9);
}

.app{
  min-height: 100vh;
  background-color: rgba(212, 212, 212, 0.9);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}